/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 déc. 2022, 18:23:14
    Author     : LENOVO
*/

.button:hover {
  -fx-font-weight: bold;
  -fx-background-color: #034f#3F729B84;
  -fx-background-radius: 22;
  
  
  -fx-border-color:white;
  -fx-border-width: 3;
}